
:root{
--purple100: hsl(254, 88%, 90%);
--purple500: hsl(256, 67%, 59%);
--yellow100: hsl(31, 66%, 93%);
--yellow500: hsl(39, 100%, 71%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Sans", serif;
}
html,
body{
    font-size: 62.5%;
    margin: 0 auto;
}
.container{
    width: 90% ;
    margin: 2.5rem auto ;
    background-color: rgba(155, 155, 155, 0.119);
}
.item{
    margin-bottom:2.5rem;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.yellow-text{
    color: var(--yellow500);
}
.purple-text{
    color: var(--purple500);
}
p{
    font-size: 1.8rem;
    font-weight: 400;
}
h1,
h2,
h3{
    font-weight: 700;
}

#star h1{
    font-size: 4.2rem;
    color: var(--white);
    padding: 1rem 1rem;
    line-height: 4rem;
    margin: 1.5rem 0;
}
#star p{
    color: var(--white);
    padding-bottom: 1.5rem;
}
#star img{
    width: 70%;
    margin-bottom: 1rem;
}
#star{
    background-color: var(--purple500);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}
#platform h3{
    font-size: 2.3rem;
}
#platform{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}
#posting-schedule h3{
    font-size: 2.3rem;
    line-height: 2rem;
    margin-top: 2rem;
      
}
#posting-schedule img{
    width: 65%;
   
    margin-top: 2.5rem;
    margin-bottom: -2.5rem;     
}
#posting-schedule{
    background-color: var(--yellow500);
    padding: 2rem 2rem 0rem 2rem ;
    border-radius: 1rem;
    overflow: hidden;
}
#publish h3{
   font-size: 2.3rem;
   margin-bottom: 1.5rem;
}
#publish p{
    margin-top: 2rem;
    padding: 1rem 1.2rem;
    font-weight: 500;
}
#publish {
   background-color: var(--purple100);
   padding: 2.5rem 2rem;
   border-radius: 1rem;
   text-align: center;
}
#content h2{
    font-size: 3rem;
    color: var(--white);
    margin-bottom:2rem 0;
    padding: 1rem 2rem;
    line-height:2.8rem ;
}
#content img{
    width: 70%;
    margin: 1.5rem 0;
}
#content{
    background-color: var(--purple500);
    text-align: center;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
}
#audience-growth h2{
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
}
#audience-growth p{
    font-weight: 500;
    margin-bottom: 1.5rem;
}
#audience-growth img{
    width: 50%;
}
#audience-growth{
    padding: 2rem 2rem;
    border-radius: 1rem;
    background-color: rgb(249, 249, 249);
}
#create-post h2{
    font-size: 2.9rem;
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
   
}
#create-post img{
    width: 60%;
    margin-bottom: 2rem;
}
#create-post{
    background-color: var(--yellow100);
    padding: 3rem 2rem;
    border-radius: 1rem;
}
#ai-content h2{
    font-size: 2.9rem;
    line-height: 2.9rem;
    margin: 2rem 0;
}
#ai-content img{
    width: 75%;
    margin-bottom: 1.5rem;
}
#ai-content{
    background-color: var(--yellow500);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}
@media screen and (min-width:768px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        padding: 4rem;
    }
    .item{
        flex-basis: 45%;
    }

}

@media screen and (min-width:1440px) {
    .item{
        margin-bottom: 0;
    }
    p{
        font-size: 2.5rem;
    }
    .container{
        max-width: 1440px;
        height: 980px;
        overflow: hidden;
        margin: 0 auto;
       
        background-color: rgba(253, 253, 253, 0.293);
    }
    main{
        width: 1280px;
        padding:2rem;
        margin: 0 auto;
        text-align: center;
        background-color: var(--white);
        display: grid;
        grid-template-areas: 'area1 area2 area2 area3'
                             'area1 area2 area2 area3'
                             'area1 area2 area2 area3'
                             'area1 area2 area2 area3'
                             'area1 area5 area7 area3'
                             'area6 area5 area7 area3'
                             'area6 area5 area7 area3'
                             'area6 area8 area4 area4'
                             'area6 area8 area4 area4'
                             'area6 area8 area4 area4'
        ;
        justify-content: space-evenly;
        gap: 1.5rem 2rem;
    }
    
    
    #create-post{
       grid-area: area1;
       max-width: 300px;
       max-height: 460px;
       text-align: left;
       padding: 2rem;
    }
    #create-post h2 {
        margin-top: 3rem;
          font-size:  5rem  ;
          line-height:4.5rem;
    }
    #create-post img{
        width: 100%;
    }
   
    #star{
        grid-area: area2;
        max-width: 620px;
        height: 365px; 
        padding: 1.5rem;  
    }
    #star h1{
        font-size: 7rem;
        line-height: 6.8rem;

    }
    #star img{
        width :250px
    }
   
    #publish{
       grid-area: area3;
       max-height: 650px;
       max-width: 300px;
       text-align: start;
       padding: 0;
       overflow: hidden;
    }
    #publish h3{
        font-size: 4rem;
        line-height: 3.8rem;
        padding: 2.5rem 2rem;
    }
    #publish img{
        height:auto;
        width: 300px;
        margin-left: 2.5rem; 
    }
    #publish p{
        padding: 1.5rem 2rem;
    }

    #ai-content{
        grid-area: area6;
        max-height: 460px;
        max-width: 300px;
        padding: 2rem 2.5rem;
        text-align:start;
    }
    #ai-content h2{
        font-size: 4.5rem;
        line-height: 4.2rem;
    }
    #ai-content img{
        width: 100%;
    }
   
  

    #platform{
      grid-area: area5;
      max-width: 300px;
      max-height: 270px;
      text-align: start;
      overflow: hidden;
      
    }
    #platform img{
        height:100px;
        width:400px ;
        margin-left:4.5rem;      
    }
    #platform h3{
        margin-top: 1.5rem;
        margin-left: 3rem;
        font-size: 3.2rem;
        line-height: 3rem;
    }
 
    #posting-schedule{
        grid-area: area7;
        max-width: 300px;
        height: 270px;
        padding: 2rem;
        text-align: start;  
        overflow: hidden; 
    }
    #posting-schedule img{
        width: 100%;
    }
    #posting-schedule h3{
        font-size: 3rem;
        line-height: 2.8rem; ;
    }

    #audience-growth{
      grid-area: area8;
      max-width: 300px;
      max-height: 270px;
      text-align: start;
    }
    #audience-growth h2{
        font-size: 5.5rem;
    }
  

    #content{
        max-height: 270px;
        max-width: 620px;
        grid-area:area4 ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     
    }
    #content img{
        height: 250px;
        flex-basis: 50%;
    }
    #content h2{
        font-size: 3.8rem;
        line-height: 3.5rem;
    }

}